* {
  position: relative;
  box-sizing: border-box;
}
body {
  font-family: 'Questrial', 'MicrosoftJhengHei';
}
h2 {
  margin: 0;
}
a {
  text-decoration: none;
  text-align: center;
  color: black;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 12px;
}
/* navbar */
.navbar {
  background-color: white;
  box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
  padding: 0 66px 0 96px;
}
.navbar .wrapper {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__site-name {
  font-size: 36px;
  color: #489846;
}
.navbar__list {
  list-style: none;
  display: flex;
}
.navbar__list li {
  border-radius: 8px;
  transition: background-color 0.3s ease-in;
}
.navbar__list a {
  display: inline-block;
  padding: 14px 10px;
  font-size: 16px;
}
.navbar__list li:active,
.navbar__list li:hover {
  background: #ff7286;
}
.navbar__list a:active,
.navbar__list a:hover {
  color: white;
}
/* banner */
.banner {
  background: url(./image/bg.jpg) center center/cover no-repeat;
  height: 450px;
}
.banner h1 {
  font-weight: bold;
  font-size: 60px;
  display: inline-block;
  margin: 0;
  color: white;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* section */
.section {
  text-align: center;
  margin-top: 80px;
}
.section__title {
  display: inline-block;
  font-size: 36px;
  border-left: solid 15px #a3dea2;
  padding-left: 12px;
  margin-bottom: 36px;
}
.section__desc {
  font-size: 14px;
  line-height: 2em;
  margin: 0px;
}
.section__images {
  display: flex;
}
.section__images div {
  width: 25%;
}
.section__images img {
  width: 100%;
}
.section__commemts {
  margin-top: 80px;
  display: flex;
  font-size: 12px;
  line-height: 1.8em;
}
.section__commemts > div {
  margin-right: 8px;
  flex: 1;
  border: 1px solid #c7e5ec;
}
.section__commemts__avatar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__comment__content {
  margin: 72px 20px 36px 20px;
}
/* btn */
.btn {
  display: inline-block;
  padding: 60px 80px;
  color: #3e613d;
  border-radius: 10px;
  margin: 42px 10px 68px 10px;
  font-size: 28px;
  letter-spacing: 0.32px;
  transition: transform 0.1s;
}
.btn:hover {
  transform: scale(1.05);
}
.btn.btn-order {
  background-color: #a8e8e1;
}
.btn.btn-query {
  background-color: #f9f9b5;
}
/* footer */
footer {
  margin-top: 48px;
}
.footer__bottom {
  background-color: #35564b;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 12px 12px;
}
.footer__top {
  padding: 32px 0;
  background-color: #e8efee;
  color: #484848;
  font-size: 12px;
}
.footer__info div + div {
  margin-top: 10px;
}
.footer__site {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__site a {
  color: #484848;
  text-decoration: underline;
}
.footer__site__name {
  color: #489846;
  font-size: 28px;
}
.footer__top .wrapper {
  display: flex;
  justify-content: space-between;
}
/* media */
@media (max-width: 768px) {
  /* mq-navbar */
  .navbar {
    padding: 0;
  }
  .navbar .wrapper {
    padding: 24px 0 0 0;
    height: 100px;
    flex-direction: column;
    justify-content: center;
  }
  .navbar__list {
    padding: 0;
    width: 100%;
  }
  .navbar__list li {
    border-radius: 4px;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .navbar__list a {
    width: 100%;
    padding: 8px 0;
    font-size: 10px;
  }
  /* mq-banner */
  .banner {
    height: 350px;
    background-position: right top;
  }
  .banner h1 {
    font-size: 28px;
  }
  /* mq-section */
  .section {
    margin-top: 32px;
  }
  .section__title {
    font-size: 24px;
    border-left: solid 10px #a3dea2;
  }
  .section__desc {
    font-size: 10px;
  }
  .section__images {
    flex-direction: column;
  }
  .section__images div {
    width: 100%;
  }
  .section__commemts {
    flex-direction: column;
  }
  .section__commemts > div + div {
    margin-top: 80px;
  }
  /* mq-btn */
  .btns {
    display: flex;
  }
  .btn {
    flex: 1;
    padding: 30px 40px;
    font-size: 20px;
    margin: 28px 10px 40px 10px;
  }
  /* footer */
  .footer__top .wrapper {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer__info {
    margin-top: 16px;
  }
  .footer__site {
    align-items: flex-start;
  }
}
