* {
  position: relative;
  box-sizing: border-box;
  font-size: 14px;
  /* outline: 1px solid gold; */
}
body {
  background-color: rgb(240, 240, 240);
}
.wrapper {
  border-top: 6px solid #fad312;
  max-width: 645px;
  margin: 10% auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 1.8px 2.4px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 64px 42px;
}
.apply-form__title {
  margin: 0;
  font-size: 36px;
}
.apply-form__desc {
  margin-top: 32px;
  line-height: 1.5em;
}
.apply-form__alert {
  color: #e74149;
  margin-top: 20px;
  margin-bottom: 40px;
}
.input-block {
  margin-bottom: 50px;
}
.input-block__title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 18px;
}
.required::after {
  content: ' *';
  color: #e74149;
}
.input-block input {
  padding: 7px;
  border: 1px solid #d0d0d0;
}
.apply-form__submit input {
  border: 0 none;
  background-color: #fad312;
  border-radius: 3px;
  display: block;
  width: 92px;
  height: 40px;
}
footer {
  font-size: 13px;
  text-align: center;
  color: #999999;
  padding: 24px 12px;
  background-color: black;
}
/* media-query */
@media only screen and (max-device-width: 768px) {
  .wrapper {
    width: 90%;
  }
}
